* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: wheat;
}

.header {
    background-color: #ffffff;
    border: solid 1px #cccccc;
    width: 100%;
    position: fixed;
    top: 0;
}

.header__name {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 25%;
    position: relative;
    top: 15px;
    left: 240px;
    text-align: center;
}

.navbar {
    position: relative;
    bottom: 20px;
    left: 1030px;
}

.navbar__links {
    color: #777777;
    position: relative;  
}

.abtmecontainer {
    width: 960px;
    border: solid 1px #dddddd;
    margin: 0px auto;
    position: relative;
    top: 80px;
    background-color: #ffffff;
}

.abtmecontainer__aboutme {
    color: #4aaaa5;
    text-indent: 5%;
}

hr {
    border-top: 5px solid #4aaaa5;
    width: 90%;
    margin-left: 5%;  
}

.abtmecontainer__image {
    width: 100px;
    float: left;
    margin: 10px;
    margin-left: 4.9%  
}

.p1p2{
    line-height: 3;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
  }

.footer {
    background-color: #666666;
    color: #777777;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 5px solid #4aaaa5;
}

.imagescontainer {
    width: 960px;
    border: solid 1px #dddddd;
    margin: 0px auto;
    position: relative;
    top: 80px;
    background-color: #ffffff;
}

.imagescontainer__portfolio {
    color: #4aaaa5;
    text-indent: 5%;
}

.innerimagescontainer {
    margin-left: 4%;
    margin-top: 10px;
}

.images {
    width: 80px;
}

.image__bc {
    position: relative;
    left: 10px;
}

.image--bc--text {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 40px;
    width: 80px;
    text-align: center;
}

.image__c {
    position: relative;
    left: 100px;
    bottom: 85px;
}

.image--c--text {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff; 
    top: 40px;
    width: 80px;
    text-align: center;
    padding: 8px;
}

.image__ec {
    position: relative;
    bottom: 70px;
    left: 10px;
}

.image--ec--text {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 40px;
    width: 80px;
    text-align: center;
    padding: 7px;
}

.image__fa {
    position: relative;
    bottom: 60px;
    left: 10px;
}

.image--fa--text {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 40px;
    width: 80px;
    text-align: center;
}

.image__ic {
    position: relative;
    bottom: 240px;
    left: 100px;
}

.image--ic--text {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 40px;
    width: 80px;
    text-align: center;
    padding: 7px;
}

.image__nrc {
    position: relative;
    bottom: 228px;
    left: 100px;
}

.image--nrc--text {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 40px;
    width: 80px;
    text-align: center;
}

.contactcontainer {
    width: 960px;
    border: solid 1px #dddddd;
    margin: 0px auto;
    position: relative;
    top: 80px;
    background-color: #ffffff;
}

.contactcontainer--contact {
    color: #4aaaa5;
    text-indent: 5%;
}

.form {
    margin-left: 5%;
}

.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px;
}